.add_two{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display:flex;

}

.add{
    width: 100%;
    height: 26%;
    border: 1px solid black;
    display: flex;


}
.th-all{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.th-all-1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;


}

.th-all-2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;


}

.th-all-3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;


}