<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Title</title>
</head>
<body>
<div class="box">

    "인프런 반응형 웹 디자인"


</div>
<div class="webBody">
    <div class="realAppBar">
        <div class="realAppBarMenu">
            <div class="realAppBarMenuLogoMenu">
                <div class="realAppBarMenuLogoMenuLogo">
                    <img src="/image/logo.png" alt="로고" class="realAppBarMenuLogoMenuImage">
                </div>
            </div>

            <label class="realAppBarMenuSearch">
                <button class="searchIcon"></button>
                <input type="search" class="realAppBarMenuSearchInput" >
            </label>

            <div class="realAppBarMenuLogoMenu2">
                <div class="realAppBarMenuLogoMenu2Menu"></div>
                <div class="realAppBarMenuLogoMenu2Menu"></div>
                <div class="realAppBarMenuLogoMenu2Menu"></div>
            </div>

        </div>
    </div>
    <div class="contents">
        <div class=""></div>
    </div>
    <div class="bottom"></div>
</div>

</body>
<script src="/js/main.js"></script>
</html>