<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.geomin.project.service.command.CommandMapper">
  <select id="getList" resultType="com.geomin.project.command.GameContentVO">
  SELECT * from GAME_CONTENT
  order by game_No desc limit #{JPageFirst}, #{JAmount}
  
  
  
  </select>
    <select id="getTotal" resultType="int">
	    SELECT count(*) as total from game_content
    
    
    </select>

  
  
  </mapper>