<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/frame/learnGroupLook.css">
<script src="/js/frame/learnGroupLook.js" defer></script>
<script src="/js/student/groupStudyList.js" defer></script>
<link rel="stylesheet" href="/css/student/groupStudyList.css">

</head>
<body class="body">
	<th:block
		th:replace="~{./baseLayout/base_f :: setContent( ~{ :: .wrap} ) }">
		<div class="wrap">
			<div class="wrap__content">
				<div class="look__wrap">
					<div class="looks__wrap__header">
						<div class="looks__header__title">
							<span>학습 그룹 조회</span>
							<div class="looks__header__search">
								<input type="text" placeholder="학습그룹명을 입력하세요.">
								<button class="search_btn">검색</button>
							</div>

						</div>

						<div class="loading-wrap loading-wrap--js" style="display: none">
							<div class="loading-postion">
								<div class="loading-spinner loading-spinner--js"></div>
								<div class="loadMsg">
									<div id="progressbar">
										<span id="loading"></span>
										<div id="load"></div>
									</div>
								</div>
							</div>
						</div>

						<div style='text-align:center;' class="btn-green">
  							<button class="action-button shadow animate green">AI 찬스</button>
						</div>
					</div>
					<div class="looks__wrap__body">
						<div id="looks__thead">
							<button id="looks__thead__first"></button>
							<button id="looks__thead__second">학습그룹명</button>
							<button id="looks__thead__third">게임컨텐츠명</button>
							<button id="looks__thead__fourth">그룹T/O</button>
							<button id="looks__thead__fifth">구독기간</button>
							<button id="looks__thead__sixth">달성레벨</button>
							<button id="looks__thead__seventh">가입학생수</button>
						</div>
						<div class="looks__tbody">
							<div class="looks__tbody__content" th:each="list : ${list}">
								<div id="looks__tbody__first" th:text="${listStat.count}"></div>
								<a th:href="@{/student/groupApplyList(sg_no=${list.sg_no})}"
									id="looks__tbody__second">[[${list.sg_name}]]</a>
								<div id="looks__tbody__third">[[${list.game_no}]]</div>
								<div id="looks__tbody__fourth">[[${list.sg_capa}]]명 /
									[[${list.sg_grouplimit} + '명']]</div>
								<div id="looks__tbody__fifth">[[${list.sg_regdate} + ' ~ '
									+ ${list.sg_enddate}]]</div>
								<div id="looks__tbody__sixth">[[${list.sg_level} + '레벨']]</div>
								<div id="looks__tbody__seventh">[[${list.sg_capa} + '명']]</div>
							</div>
						</div>

						<div id="studyGroupList"></div>

					</div>
					<div id="pagination">
					<th:block th:replace="~{./baseLayout/page_studyGroup :: pageNation(${pageVOstudyGroup})}"></th:block>
					</div>
				</div>
			</div>
		</div>
	</th:block>

</body>
</html>
