<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" href="/css/frame/groupRegistLook.css">
<link rel="stylesheet" href="/css/student/groupRegistList.css">
<link rel="stylesheet" href="/css/student/groupProgress.css">
<th:block th:replace="~{./baseLayout/base_f :: setContent( ~{ :: .wrap} ) }">

<div class="wrap">

    <div class="wrap__content">
      	<input type="hidden" id="hiddenSg_No" th:value="${group.sg_no}" name="sg_no">
		<input type="hidden" id="hiddenUser_No" th:value="${session.vo.user_no}" name="user_no">
		<input type="hidden" id="hiddenSg_Level" th:value="${group.sg_level}" name="user_no">
		
      <div class="grl__body">
        <div class="grl__body__header">
          
          <div class="grl__bh__thead">
            <div class="grl__bht__zero">컨텐츠 이미지</div>
            <div class="grl__bht__one">게임 컨텐츠 명</div>
            <div class="grl__bht__two">게임 달성 레벨</div>
            <div class="grl__bht__three">게임 학습 기간</div>
            <div class="grl__bht__four">그룹 제한 인원</div>
            <div class="grl__bht__five">그룹가입 승인 인원</div>
          </div>

          <div class="grl__bh__tbody">
            <div class="grl__bbt__zero">나중에 사진 데이터<img src="/img/05_game_main.png" alt=""></div>
            <div class="grl__bbt__one">[[${group.game_title}]]</div>
            <div class="grl__bbt__two">[[${group.sg_level}]]</div>
            <div class="grl__bbt__three">[[${group.sg_regdate} + '~' + ${group.sg_enddate}]]</div>
            <div class="grl__bbt__four">[[${group.sg_grouplimit} + '명']]</div>
            <div class="grl__bbt__five">[[${group.sg_capa} + '명']]</div>
          </div>

        </div>
		<div class="group-progress">
			<div class="progress-info">
				<h4>그룹 학습의 목표:</h4>	
					<div>
						[[${group.sg_plus}]]
					</div>
			</div>	
			<div class="progress-list">
				<div>다른 학생들의 학습 진도율을 확인하고 더 나은 성과를 위해 노력하세요.</div>
				<div th:each="list : ${progressList}" class="user-progress">
				    <div th:text="${#strings.concat(listStat.count, '번 유저: ')}"></div>
					<progress th:value=${list.progress_percentage} max="100"></progress>
		    		<div>[[${list.progress_percentage}]] %</div>	
				</div>
			</div>
		</div>		
			
      </div>
    </div>
  
</div>
<script>


</script>
</th:block>
</html>